 /* css */
 body {
    color:purple;
    text-shadow: 2px 1px red;
    margin: 0px;
    padding: 0px;
    background: url('./omcs.jpg');
    background-repeat: no-repeat;
    background-size: 110% 100%;  
    text-shadow: 2px 1px rgb(209, 19, 19);   
}

* {
    margin: 0px;
    padding: 0px;
}

.left {
    
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 10px;
    text-shadow: red 2px 2px;

}

.left img {
    width: 177px;
}

.left div {
    text-align: center;

}

.mid {
    
    display: block;
    margin: 29px auto;
    width: 46%;
}

.navbar {
    display: inline-block
}

.navbar li {
    display: inline-block;

}

.navbar li a {
    color:#fb4700;
    text-decoration: none;
    padding: 34px 23px;
    font-size: 23px;
    text-shadow: 2px 1px rgb(109, 128, 0) ;
    
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color:#1dd626;

}

.right {
    
    position: absolute;
    display: inline-block;
    right: 34px;
    top: 20px;

}

.btn,
.reset {
    margin: 8px 5px;
    background-color: black;
    color: blueviolet;
    padding: 4px 13px;
    border: 2px solid rgb(139, 238, 130);
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;

}

.container {
  
    margin: 157px 129px;
    padding: 075x;
    width: 31%;
    border-radius: 10px;
}

.container h1 {
    text-align: center;


}

.form-group input {
    text-align: center;
    width: 466px;
    line-height: 35px;
    margin-top: 14px;
    border: 2px solid black;
    border-radius: 10px;
}

.container button,
.reset {

    width: 35%;
    margin: 10px 23px;
    padding: 15px;
     position: relative;
    left: 15px;
    padding: 14px 10px 12px;
    margin-left: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    min-width:40px;
}

.gg {
    display: inline-flex;
    width: 75%;
    margin-top: 0px;
    margin-left: 30px;
    padding: 20px;
}
footer{
    margin: 0px;
    padding: 0px;
    background-color: black;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px red;
}

.form-container{
    padding-top: 6em;
}